@import '../../styles/variables';

.rowContainer {
    height: 450;
    margin-top: 20;
    margin-left: 80px;
}

.categoryTitle {
    font-size: 1.55rem;
    color: #ffffff;
    // padding-left: 65px;
    margin-bottom: 30px;
}

.errorText {
    color: color(error);
    text-align: center;
    font-size: 32px;
}