@import '../../styles/variables';

.rowContainer {
    height: 700;
    margin-top: 20;
}

.categoryTitle {
    font-size: 1.55rem;
    color: #ffffff;
    padding-left: 65px;
    margin-bottom: 30px;
}

.errorText {
    color: color(error);
    text-align: center;
    font-size: 32px;
}