@import "../../../styles/variables.scss";

.container {
  flex: 1;
  background-color: color(background);
}

.input {
  height: 40px;
  // border-color: "grey";
  border: 1px solid grey;
  // color: white;
}
