.headerContainer  {
    margin-right: auto;
    height: 60px;
    margin-left:  auto;
    position: relative;
    background-color: #050505;
    width: 100%;
}

.cardContainer {
    width: 100%;
    // float: right;
    padding-left: 65px;
    padding-right: 65px;
    line-height: 150%;
    overflow: hidden;
    white-space: normal;
    display: flex;
    flex: 1;
    align-items: center;
}

.headerLogo {
    margin-top: 15px;
    width: 35%;
    height: 44px;
}