.footer {
    margin-top: 200;
    background-color: #222222;
    // position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 150;
}

.footerTitle {
    color: #ffffff;
}

.highlight {
    font-weight: 700;
    color: #f04141;
}